.contact,
.contact h1,
.rightform h2 {
  font-family: 'Inter';
}

.ctxt,
.rightform form div {
  display: flex;
  align-items: flex-start; /* This will align the items to the start of the cross axis */
  gap: 1rem;
  margin-top: 2rem;
}

.contact {
  width: 80vw;
  margin: 5rem auto auto;
}

.contact h1 {
  color: #0a0a0a;
  text-align: center;
  font-size: 2.5rem;
}

.contact-info ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  position: relative;
  align-items: center;
}

.leftform {
  background-color: #b29aff25;
  border: 2px solid rgba(252, 102, 182, 0.09);
  border-radius: 1rem;
  color: #070707;
  padding: 1.5rem;
  margin-left: 1rem;
  position: absolute;
  box-sizing: border-box;
  width: 40%;
}

.leftform h2 {
  font-size: 1.7rem;
  font-weight: 900;
  color: #303237;
}
.ihead{
  font-size: 1.2rem;
  font-weight: 700;
  color: #303237;
  margin-top: -0.4rem;
}

.rightform {
  background: radial-gradient(
    98.63% 290.67% at 0 3.86%,
    rgba(255, 255, 255, 0.2) 0,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 1rem;
  
  width: 100%;
  padding: 3rem 3rem 3rem 31rem;
}

.rightform h2 {
  font-family: 'Inter';
  font-size: 2.5rem;
  font-weight: 1000;
  color: #303237;
  text-align: center;
  /* margin-top: -0.5rem; */
}

.rightform form div input {
  width: 100%;
  box-sizing: border-box;
  /* margin-top: 1.5rem; */
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #0c0c0c;
  font-size: 1.2rem;
  font-weight: 500;
  outline: 0;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.342);
}

.rightform form div input:active,
.rightform form div input:focus {
  font-size: 1.2rem;
  font-weight: 500;
  color: #303237;
}

.rightform form button {
  margin-top: 1.75rem;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  background: #FA762B;
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-family: 'Inter';
  transition: all 0.3s ease;
  font-weight: 800;
  color: #ffffff;
  cursor: pointer;
 
}

.rightform form button:hover {
  margin-top: 1.75rem;
  box-shadow:rgba(0, 0, 0, 0.249) 0px 4px 4px 0px;
  background: #242331;
  color: #ffffff;
}

.ctxt {
  font-size: 1rem;
  font-weight: 400;
  color: #303237;
}

@media (max-width: 992px) {
  .ctxt {
    font-size: 1rem;
  }

  .rightform {
    padding-left: 22rem;
    padding-right: 1.5rem;
  }

  .rightform h2 {
    font-size: 2rem;
  }

  .leftform h2 {
    font-size: 1.3rem;
  }

  .contact {
    width: 87vw;
  }

  .leftform {
    margin-left: 0;
    padding: 1rem;
  }
}

.submit {
  margin-top: 1.75rem;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
}

.rightform form .submit:hover {
  background-color: #242331;;
  cursor: pointer;
}

@media (max-width: 768px) {

  .contact {
    
    margin: 8rem auto auto;
  }
  .form,
  .leftform {
    display: flex;
    position: relative;
  }

  .form {
    flex-direction: column-reverse;
    align-items: center;
  }

  .leftform {
    flex-direction: column;
    width: 80vw;
    overflow: hidden;
  }

  .rightform {
    padding-left: 1rem;
    background: 0 0;
  }

  .rightform h2 {
    text-align: center;
    font-size: 1.6rem;
  }

  .rightform form div input {
    font-size: 1rem;
  }

  .contact-info {
    padding: 0;
    font-size: 3.5vw;
  }
}