::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #707070;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #b29aff;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3c0d99;
}
html, body {
  margin: 0;
  padding: 0;
  /* background: radial-gradient(circle at 0 0, #000 20%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(
      circle at 100% 100%,
      rgba(255, 255, 51, 0.25) 10%,
      rgba(255, 243, 51, 0) 100%
    ),
    #000;
  background-size: 100% 100%; */
  background-color:#ffffff;
  
  overflow-x: hidden;
}
.wrapper {
  margin: auto;
  padding: auto;
  max-width: 200vw;
  min-height: 100vh;
}
