.top-nav,
.top-nav-box {
  overflow: hidden;
  position: fixed;
  
}
.nav-item a,
.nav-links a {
  text-decoration: none;
  color: #000000;
}
.top-nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 5.7vh;
  min-height: 75px;
  user-select: none;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 5px #d5d5d5;
  z-index: 1000;
}
.top-nav-box {
  box-sizing: border-box;
  padding: 1vw;
  width: 96vw;
  height: 4.5rem;
  margin: 0 1.3vw;
 
  border: 1px solid rgba(255, 255, 255, 1);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  position: relative;
  display: flex;
  list-style: none;
  gap: 1.4rem;
}
.nav-item a {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 500;
  float: left;
}
.nav-item a:hover {
  color: #FD6500;
  font-weight: 700;
  text-decoration: underline;
}
.box-nav a {
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 1vw;
}

.logo {
  min-width: 8vw;
  width: 6vw;
}
.hamburger,
.sidebar {
  display: none;
}
@keyframes sidenav {
  0% {
    left: -100px;
    opacity: 0;
  }
  100% {
    left: 0;
    border-radius: 50%;
  }
}
@keyframes changeHeight {
  0% {
    width: 50vw;
    height: 100px;
    border-radius: 20px;
    margin-left: 0;
  }
  100% {
    top: 0;
    width: 50vw;
    height: 100vh;
    border-radius: 0;
    margin-left: 0;
  }
}
@keyframes changeWidth {
  0% {
    width: 100px;
    border-radius: 20px;
    margin-left: 10px;
  }
  100% {
    width: 50vw;
    border-radius: 20px;
    margin-left: 0;
  }
}
.nav-links::after {
  content: "";
  width: 40vw;
  height: 1px;
  background-color: #fff;
  display: block;
  margin-top: 10px;
  margin-left: -14vw;
  transition: 0.5s;
}
.nav-links {
  padding: 20px;
}
.nav-links a {
  font-size: 4vw;
}
#links {
  opacity: 0;
  list-style: none;
}
.fade {
  animation: 1s ease-in-out forwards fade-in;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 1600px) {
  .top-nav-box {
    height: 6rem;
  }
  .top-nav {
    
    height: 10.7vh;
  }
}
@media (max-width: 900px) {
  .nav-item a {
    font-size: 1rem;
  }
  .logo {
    min-width: 6vh;
    width: 3.5vh;
  }
}
@media (max-width: 800px) {

  .top-nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    
  }
  .Kirana-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

  }
  .logo {
    min-width: 10vh;
    width: 16vh;
  }
  .sidebar {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    font-family: "Inter";
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #fefefe;
    overflow-x: hidden;
    transition: 0.2s;
  }
  .side-cross {
    position: absolute;
    right: 5vw;
    color: #000000;
    font-size: 5rem;
    font-weight: 200;
    cursor: pointer;
  }
  .sidebar-link-container {
    padding-top: 15vh;
  }
  .links-sidebar {
    color: #303237;
    list-style: none;
    text-align: center;
  }
  .nav-links-sidebar a {
    text-decoration: none;
    color: #303237;
    font-size: 1.5rem;
    font-weight: 800;
  }
  
  .nav-links-sidebar {
    padding: 1rem;
    margin: auto auto auto -3vh;
    text-align: center;
  }
  .hamburger {
    display: block;
    height: 5px;
    margin-top: 2vh;
    cursor: pointer;
  }
  .nav-item {
    display: none;
  }
  .active a {
    position: relative;
    color: #000000;
    text-decoration-thickness: 2px;
  }
  .active a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FD6500;
  }
}
#menu-icon {
  width: 40px;
  margin-top: -3vh;
  margin-right: 16px;
  position: relative;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#menu-icon span {
  display: block;
  position: absolute;
  height: 0.4vh;
  width: 90%;
  background: #212020;
  border-radius: 1vw;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#menu-icon span:first-child {
  top: 0;
  cursor: pointer;
}
#menu-icon span:nth-child(2) {
  top: 12px;
  cursor: pointer;
}
#menu-icon span:nth-child(3) {
  top: 26px;
  cursor: pointer;
}
#menu-icon.open span:first-child {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#menu-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#menu-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media (max-width: 500px) {

  
  .logo {
    min-width: 16vh;
    width: 16vh;
  }
  .hamburger {
    height: 5px;
    margin-top: 2vh;
  }
}