.testimonials-wrap {
  padding: 40px 0;
  display: flex;
  justify-content: center; /* Center the content horizontally */
}
.heading-section {
  text-align: center;
}
.heading-section h2 {
  font-family: 'Inter';
  font-size: 3.6vw;
  font-weight: 900;
  color: #303237;
  padding-top: 10px;
  padding-bottom: 15px;
}
.testimonials-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.testimonial-box {
  width: 30%;
  height: 100%;
  gap: 0;
  background: #F0F4F8;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0,0,0,.03);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  padding: 30px 20px;
  
}

.quote {
    position: absolute;
    top: -23px;
    color: #FD6500;
    font-size: 27px;
}
.name {
    margin-bottom: 0;
    margin-top: 10px;
    line-height: 14px;
    font-size: 17px;
    font-weight: 700;
}
.position {
    color: #adadad;
    font-size: 14px;
}
@media (max-width:600px) {
  .testimonials-wrap {
    margin-top: 60vw;
  }
  .testimonial-box {
    width: 100%; /* Full width on smaller screens */
}
  .testimonials-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .heading-section h2 {
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 15px;
  }
}

@media (max-width:390px) {
  .testimonials-wrap {
    margin-top: 80vw;
  }
  .heading-section h2 {
    font-size: 1.8rem;
    padding-top: 10px;
    padding-bottom: 15px;
  }
}
